[2016-06-04 22:53] alexsoble opened #4 "Try to merge shootings-append.csv into shootings-merge.csv"
`shootings-append.csv` appends data from 2 data sets on police shootings released pursuant to FOIA requests submitted in April and May 2016.

This data is dynamic, not static. For example, the status or details about a police shooting may change as an investigation progresses. There may also be other inconsistencies between the data sets.

We need to merge the `shootings-append.csv` data into a co

[2016-06-04 22:59] alexsoble opened #5 "Append February data to shootings-append.csv"
Right now, `shootings-append.csv` includes only data from the April and May files.

The February file includes only three types of incident categories: 18A, 18B, 20A. It uses a very different column schema from the April and May files, and it has less information that the other two files.

We would like to merge it in to `shootings-append.csv`, but we need to figure out how to accurately map the c

[2016-06-04 23:31] rajivsinclair opened #6 "Scrape all information and hosted media from portal.iprachicago.org"
- extract all published information per log number and store it in a useful data structure saved as CSV (comma-separated values) files
- download raw media files from [Vimeo](https://vimeo.com/user51379210/videos/sort:date/format:thumbnail) and [SoundCloud](https://soundcloud.com/ipra-455127423) then [upload them to archive.org](https://archive.org/create/)
- create a table of archived media with

[2016-06-05 04:51] banoonoo2 commented on #6
I'm going to start work on the first item, the CSV. I'll grab all the IPRA fields plus note the number of related audio and video files.

[2016-06-05 12:55] rajivsinclair commented on #6
I forgot to mention that we should upload the PDF ocuments to [DocumentCloud](https://www.documentcloud.org/) will automatically OCR them and attempt to imperfectly extract recognizable entities.

[2016-06-05 15:37] rajivsinclair opened #8 "Display CSV table(s) as search-able HTML on GitHub Pages"
- create a searchable table - thanks @derekeder for [this JavaScript template](https://github.com/derekeder/csv-to-html-table)
- submit a pull request to host it on GitHub pages in [this sandbox repo](https://github.com/invinst/invinst.github.io)

[2016-06-05 20:33] alexsoble commented on #8
This is a fantastic idea, will make it easier for more people to dive into the data.

[2016-06-05 21:07] jayqi commented on #4
* To clarify: what exactly is meant here? Do we have two of (ostensibly) the same dataset with slightly conflicting information? Is there a reason why they are appended in one file rather than in two separate files?

* Is `csv` the best format for storing this data? Since there can be multiple people involved for the same complaint number, would a hierarchical format like `json` be better?

[2016-06-05 21:12] alexsoble opened #9 "Finish COLUMN-DICTIONARY.txt"
Let's set up a plan / target date for doing this @rajivsinclair @ithinkidunno.

[2016-06-05 21:13] ithinkidunno commented on #9
How about Tuesday?

[2016-06-05 21:16] alexsoble commented on #9
@ithinkidunno OK great. We will do this at Hack Night on Tuesday evening. Talking about each column out loud will be useful to help orient new volunteers who are interested in contributing. I remember we talked about this but forgot exactly where we landed, good to put it in writing. 👍

[2016-06-05 21:19] ithinkidunno commented on #9
see you Tuesday!

[2016-06-05 21:26] alexsoble commented on #4
Hi @jayqi! Thanks for the excellent questions.

1. These are **NOT** the exact same dataset. Many of the columns should (in theory) be the same from month to month. But because these files describe ongoing investigations, we expect some of the columns to change over time, such as CURRENT_CATEGORY and CURRENT_STATUS. Take a look at COLUMN-DICTIONARY.md, where we are currently working on documenting

[2016-06-05 21:30] jayqi commented on #4
If the May set is more recent, why not just use the May set? What information is contained in the April set that the May set is missing?

[2016-06-05 21:35] alexsoble commented on #4
@jayqi Yes, great question. Let's dive into the data to find out. My understanding from @rajivsinclair and @ithinkidunno is that there may be some missing information in the May set that could be complemented by merging with the April set. But I would agree that it couldn't hurt to start with the May set and see what we find.

[2016-06-05 21:37] alexsoble commented on #4
Same with `json`. Your `json` suggestion sounds very sensible to me. I am curious what @rajivsinclair and @ithinkidunno think.

`json` would make a lot of sense for columns that we expect to change over time, too:

[code]

[2016-06-05 21:48] ithinkidunno commented on #4
The May and April files are different. This is why I appended them rather than merging them

[2016-06-05 21:50] ithinkidunno commented on #4
the April one has a bigger universe of complaints, whereas the May only had the Shootings.

[2016-06-05 21:51] jayqi commented on #8
I tried implemented this using the template by @derekeder. Unfortunately, it seems like the dataset is too big for at least my browser to display all at once in this way.

Here's a version with only the first 9 entries from the data file. It works fine.
* https://jayqi.github.io/shootings-data/html-table/mini.html

Here's a version that tries to load the full thing. My browser isn't able to load i

[2016-06-05 22:02] alexsoble commented on #4
OK, this is useful @ithinkidunno.

Strikes me that a couple simple counts would be useful:

+ # of unique incident IDs in the June 3 dump
+ ditto for the May data
+ ditto for the April data
+ ditto for the Feb data

That will let us answer questions like:

+ "Can the April data set alone let us link most of the June 3 incidents to CPD officers?"

[2016-06-05 22:17] banoonoo2 commented on #6
Ooh, DocumentCloud is awesome-sauce! I've uploaded 168 PDFs to DocumentCloud and around 160 audio files to Archive.org at https://archive.org/details/iprashootings06032016. Those cover the oldest ~20 incidents. (I think 2 or 3 audio files may not have uploaded, but I'm going to double back for QA once everything's done.)

**I will keep working on "Create an index table"**. I think it's good to hav

[2016-06-06 22:39] banoonoo2 commented on #6
**"Create Index Table" and "Capture Media Files Nearly Done"**
This version includes **all** the files for the 101 incidents in the June 3 dump.

It lists:
- Original IPRA URL for each media asset
- Media type (audio/video/document)
- Log number for the incident

It still needs:
- Public URLs (DocumentCloud/Archive.org) for media files

[invinst-shootings-data-archived-media-list-all-1042532-to-10

[2016-06-07 04:11] freddymartinez9 commented on #6
some data already here https://github.com/redshiftzero/ipradata/tree/master/pdfs via @redshiftzero's IPRA scraper

[2016-06-07 04:25] freddymartinez9 commented on #4
These don't seem to have definitions which is off since these columns should have the most relevance for the merging. Don't we need more context (from COLUMN-DICTIONARY.md)
[code]

[2016-06-07 10:35] banoonoo2 commented on #6
**I've uploaded all 617 PDFs to DocumentCloud,** so feel free to start searching these files (try searching "TEXT: Sierra"). https://www.documentcloud.org/search/Project:%20%22IPRA%20Shootings%20June%203rd%22

I'm waiting on audio and video files to finish uploading to Archive.org. Then I'll be able to add their URLs to complete the index table.

Once those individual files are uploaded, I'm also

[2016-06-07 10:48] banoonoo2 commented on #6
@freddymartinez9 @redshiftzero That's pretty cool! I've managed to manually download all the PDFs and audio. Is there any way the scraper can grab videos _without_ download links off of Vimeo? There are 326 videos total, and I was only able to download 7 of them.

[2016-06-07 12:21] freddymartinez9 commented on #6
@banoonoo2 why is scraping video _not_ an option? It actually seems to me that it best, I can pull all the metadata (log number, for example). looking through the source, it looks like this is a simple iframe that loads it from player.vimeo.com

[2016-06-07 16:48] alexsoble opened #10 "How did we aggregate the different data files that make up each FOIA response?"
Questions for @ithinkidunno:

When we say "the April data" (for example), are we referring to the result of appending all these files in `shootings-data/Raw/FOIA_April2016/` together?

`218 Resp SS_2012.xls`
`218 Resp SS_2013.xls`
`218 Resp SS_2014.xls`
`218 Resp SS_2015.xls`
`218 Resp SS_2016.xls`

Is the outcome of appending all these files stored anywhere in this repo?

And is that what `Compar

[2016-06-07 16:53] alexsoble commented on #10
What is the difference between the `FOIA_April2016` folder and the `raw dump April2016` folder?

What is the difference between `218 Resp SS_2012.xls` and `All complaints during 2012.xls`?

[2016-06-07 17:06] alexsoble commented on #4
@freddymartinez9 Yup, we definitely need to provide more context here. Should be finished with the column documentation by tonight.

[2016-06-07 17:11] alexsoble commented on #10
Would we lose anything by reformatting these smaller Excel files as CSV? Easier to open and work with.

[2016-06-07 17:29] alexsoble opened #11 "Compare incident counts and overlap between data sources"
Via https://github.com/invinst/shootings-data/issues/4#issuecomment-223840565:

One simple way to start wrapping our heads around the data might be to start by gathering up incident counts from each of the four data sets we care about: February, April, May, and June.

We could also find out how much overlap exists between the incident IDs in each pair of data sets.

That could let us answer questi

[2016-06-07 19:30] DGalt commented on #11
Are the incident numbers (i'm assuming this is the "compaint_number" column) unique forever, or should we be concerned about them rolling over / getting reused at any point in time

[2016-06-07 19:33] banoonoo2 commented on #6
@freddymartinez9 Basically I've been doing things manually because (1) I'm not savvy to scraping software beyond commercially available blunt instruments like SiteSucker and (2) I was concerned about crashing IPRA's little WordPress site and rendering everything unavailable. But now (1) you have the know-how and (2) I've captured everything easily available from IPRA's site and (3) the stuff that

[2016-06-07 19:36] alexsoble commented on #11
This is a great question! @rajivsinclair / @ithinkidunno, do you know?
On Tue, Jun 7, 2016 at 2:30 PM DGalt <notifications@github.com> wrote:

[2016-06-07 21:50] #9 closed

[2016-06-07 21:50] alexsoble commented on #4
@freddymartinez9 We finished documenting the columns in #13.

[2016-06-07 21:53] alexsoble commented on #4
@jayqi Are you coming to ChiHackNight tonight? Loved the ideas you shared here, would be excellent to meet up and work together on this in person. Let me know. If you want to chat, my email is in my profile.

[2016-06-07 22:18] alexsoble commented on #11
Hi @DGalt, the complaint numbers are unique forever says @ithinkidunno.

[2016-06-08 02:10] alexsoble opened #15 "Rename repo?"
The repo name is `shootings-data`, but it contains more than shootings data. Shall we rename? Great suggestion from @shua123.

[2016-06-08 02:21] DGalt commented on #11
Of the 362 unique Complaint_Numbers (CRIDs) in the May dataset, 201 of them do not exist as unique Complaint_Numbers in April

[2016-06-08 03:19] freddymartinez9 commented on #6
@banoonoo2 @rajivsinclair I am working on an IPRA scraper in my local repo here, it needs to be able access URI and from there, scape all videos from the IPRA vimeo account https://github.com/freddymartinez9/shootings-data/blob/master/IPRAVideoScaper.rb

[2016-06-08 12:35] DGalt commented on #15
This goes to a question I posed last night - are we focusing on shootings (and tasings), or looking at all instances of violent interactions between police / citizens. shootings-append.csv, for example, contains a subset of the April dataset that corresponds to only shootings and tasings (i.e. the CATEGORY_CODE - either initial or current - for the incidence begins with 18, 20, or S)

[2016-06-08 14:31] rajivsinclair commented on #15
Valid points. I think [@ChaclynHunt](https://twitter.com/chaclynhunt/) is the best judge for this.

[2016-06-08 14:51] rajivsinclair commented on #10
There’s no issue with exporting the data from Excel files to CSV. That’s a good idea. Even for the more complex files with multiple sheets, we should probably just break them up into separate files (with one CSV file per sheet in Excel) and save them as a folder. I still think it’s best to keep all of the original documents available in the repo, in case someone else needs them for whatever reason

[2016-06-08 14:53] rajivsinclair commented on #10
Re: the `FOIA_April2016` folder and the `raw dump April2016` folder

I think that’s a merge mistake where a `move` command turned into a `copy` action
you should feel free to eliminate the least useful version.

I’m assuming that they’re both the exact same file size – right?

[2016-06-08 14:55] rajivsinclair commented on #8
Any simple alternatives? or should we not bother?

Anyone who wants to can import the CSV into excel or google sheets or their preferred table-searching tool.

I’m just going to close this issue now, but feel free to open it up if you want to try another approach.

[2016-06-08 14:58] DGalt commented on #10
Bocar mentioned last night that all of the `FOIA_*X*` were the same as the `raw_dump_*X*`, plus some of his STATA analysis files. He said that we should toss the `FOIA_*X*` folders and just keep the `raw_dump_*X*` folders

[2016-06-08 15:18] rajivsinclair commented on #6
@freddymartinez9 may also want to include the summary abstracts that [IPRA publishes each month here](http://www.iprachicago.org/ipra/homepage/PublicationPress/current-year-reports.html)

https://docs.google.com/spreadsheets/d/1H6GdgzOYLmG9Pi5bqvtENiJYBELMsicwfoLwvm7Fx-s/view here’s are some summary abstracts that were extracted using the scraper built into https://github.com/invinst/CPDB

[2016-06-08 15:27] ithinkidunno commented on #10
I confirm it's the same...

[2016-06-08 16:16] rajivsinclair opened #18 "help to resolve unmatched officer identities"
in attempting to match up the officers named in the shootings-append.csv file against the officer profiles in [the all-sworn-officers datatable](https://github.com/invinst/shootings-data/blob/master/Context/CPD%20Employees%2C%20one%20row%20per%20individual.csv) we found [40 rows that are mismatched/malformed](https://github.com/invinst/shootings-data/commit/a175e79b959910805f0377e41082337a5ccb510f

[2016-06-08 17:21] derekeder commented on #8
Hey all, yah this file is 52k rows long (and 13mb), which is way too much to render on one page with my javascript template.

A google sheet would probably be the easiest approach.

[2016-06-08 22:11] alexsoble commented on #8
I think a Google Sheet is a fantastic idea. Plenty of people don't know what a `.csv` is, get intimidated when it loads up thousands and thousands of rows, etc. Making an interface into the data that user friendly for non-technical folks seems like a good idea to me.

[2016-06-09 10:32] yahwes opened #19 "Double-check data in /Clean/May2016 folder"
Data was created in pull request #17

[2016-06-09 22:34] banoonoo2 commented on #6
✓ Scrape published info - Completed 6/5
✓ Capture media files - Completed 6/9
✓ Create an index table - Completed 6/9

I've posted CSVs and documentation on Slack, and I uploaded all the downloadable files to DocumentCloud and Archive.org.

I'm ready to pass the torch to somebody who has the patience for JavaScript!

[2016-06-10 00:11] alexsoble commented on #10
Closed via #20. Thanks for the helpful answers @rajivsinclair and @ithinkidunno!

[2016-06-10 00:11] #10 closed

[2016-06-10 00:11] alexsoble commented on #19
@rajivsinclair and @ithinkidunno – do you have your own attempts at merged / clean data that we can check against @yahwes's?

[2016-06-10 00:15] alexsoble commented on #11
@DGalt Great, added to the wiki.

Do folks think it's useful to do these comparisons between each dataset or nah? Chaclyn seemed interested in what @DGalt found at Code for Boston.

[2016-06-10 00:25] alexsoble commented on #6
Wow — thank you @banoonoo2! Looking into this now. Hugely appreciate the work.

[2016-06-10 00:40] alexsoble commented on #6
@banoonoo2 Quick question about DocumentCloud. When I click this link, it redirects me to the DocumentCloud homepage: https://www.documentcloud.org/search/Project:%20%22IPRA%20Shootings%20June%203rd%22

Am I looking at the wrong link, or is there not a public URL yet? Did you have to create an account with DocumentCloud to upload documents?

[2016-06-10 01:21] freddymartinez9 commented on #6
yes link is broken @alexsoble

[2016-06-10 03:42] jayqi commented on #11
Here are some of my counts of unique CRID numbers for each dataset. I also broke down the April and May ones by the year (based on the year on the filename or sheetname).

[code]

Seems like I'm missing two compared to @DGalt for the May set. Possibly because I'm querying the "Incid" sheets and not the "Parties" sheets.

[2016-06-10 11:40] yahwes commented on #11
@jayqi For the May2016 data, the only CRID that you should be missing if you're using "incid" tabs only is "1052142" from 2012.

**Yr  Cnt**
2016  5
2015  29
2014  47
2013  43
**2012  48**
2011	  50
2010  38
2009  44
2008  57
**Total  361**

Here's my list of unique CRID's. @DGalt If your total is 362, let me know which one I'm missing.
[IPRA-May2016-CRID.txt](https://github.com/invinst/shootings-

[2016-06-10 13:20] DGalt commented on #11
@yahwes 361 is correct, I must have forgotten to drop nans from the list when I counted the other night, which is what lead to the extra unique value.

[2016-06-10 20:01] DGalt commented on #19
(posted in slack, but figure it should go here too)
So I started looking at this as well - @yahwes did you do when there was no obvious match. E.g. when there is a nan in the the Complaint_Number column, or if there is a Complaint_Number in one of the sheets in the pair but not other (e.g. 2012 Parties has the complaint number 10521242, but this does not exist in the 2012 Incid sheet)

[2016-06-10 20:04] alexsoble commented on #19
@dgalt yeah I think doing as much of the work as possible in public is
👍🏽👍🏽👍🏽
On Fri, Jun 10, 2016 at 3:01 PM DGalt <notifications@github.com> wrote:

[2016-06-10 20:28] DGalt commented on #4
I have another version of this that I can submit a PR for if you want, although we might want to wait until we have a consensus on how we're treating May. You can take a look at the columns for april and may that I combined / renamed here, though, in the section marked "Cleaning / Combining April and May":

https://github.com/DGalt/shootings-data/blob/dev/april_may_munging.ipynb

[2016-06-10 21:04] yahwes commented on #19
_(posted in slack, but figure it should go here too)_
The 2012 CRID 1052142 is the only one that was in "parties" but not in "incid". In that case, the values I pulled in for the 13 columns in "incid" only (Beat:Incident_Time_End, CLOSEDATIPRA_DATETIME, Report_Status:Penalty_Status), are left blank.

[2016-06-10 21:52] banoonoo2 commented on #6
@alexsoble @freddymartinez9 Sorry! Try this link:
https://www.documentcloud.org/public/search/%22Project%20ID%22:%20%2227319%22
Or go to the DocumentCloud homepage, click the "Search" option at the top, select "PROJECT ID:" from the search box dropdown, and enter "27319" to search for the project by its unique ID number. It should pull up 626 documents: the count is shown at the bottom of the page

[2016-06-10 22:30] DGalt commented on #19
Going through @yahwes's process I get the same thing

[2016-06-10 22:36] alexsoble commented on #19
👍🏽👍🏽

Anything else we should document here?

@yahwes what is a .feather file?
On Fri, Jun 10, 2016 at 5:30 PM DGalt <notifications@github.com> wrote:

[2016-06-10 22:52] yahwes commented on #19
It's the new Python/R dataframe format.

[2016-06-10 22:53] alexsoble commented on #19
Gotcha, thanks! @yahwes
On Fri, Jun 10, 2016 at 5:52 PM yahwes <notifications@github.com> wrote:

[2016-06-10 22:58] DGalt commented on #6
I've gone ahead and created what is essentially a summary file for the the data that we have from April and May combined with the these files, organized (groupbed) by the CRIDs. So, if this were searchable, essentially you'd be able to search a CRID and it'll give fields with lists of the information available for that CRID sourced from the April and May dumps, as well as two files @banoonoo2  gen

[2016-06-11 11:23] yahwes opened #22 "Double-check data in /Clean/Feb2016 folder"
See pull request #21

[2016-06-11 16:22] DGalt commented on #18
I've started working on this. As a first pass, though, of the 40 records in not_match_officer.csv, 25 of the APPOINTMENT_DATE's have no corresponding record in the all_sworn data set (i.e., on that date, there are no records in all_sworn). These dates are:

[code]

[2016-06-11 22:17] DGalt commented on #18
I've started working on this. As a first, of the 40 records in `no_match_officer.csv`, the date-of-appointment for 25 of them does not have a corresponding record at all in the all-sworn-officer dataset. These dates are:

[code]

[2016-06-11 23:20] rajivsinclair commented on #18
@DGalt thanks for beginning to look into this!

For these 25 out of the 40 unmatched officers from the shootings data, there are no officers in the "all" CPD employees tables? I wish I could say that I was surprised by this disappointment. We'll have to submit some kind of follow-up for these specific log numbers to get more useful identifying information and link them manually then. I'll chat wit

[2016-06-12 03:54] DGalt commented on #18
I have gone through now and looked at all of the records for which there is a corresponding appointment date within the `all_sworn_officer` data set. Of those, only 4 (5 really, since one is a duplicate) - with last names `['ESCOBEDO', 'CONNORS', 'EDWARDS', 'FORGUE']` have obvious matches within the `all_sworn_office` set. Within the `no_match_officer` dataset, the fields are complete for `CONNORS

[2016-06-14 02:58] alexsoble commented on #4
@DGalt Another version of shootings-append.csv? I think a PR for that would be very welcome. Did you get a chance to compare it with the original shootings-append.csv? Any major differences?

I noticed this line in the iPython notebook:

[code]

... which seems to be reading @ithinkidunno's append for a comparison attempt, but I didn't see the `sht_apd` variable later on. I may also be misreading

[2016-06-14 03:03] alexsoble commented on #4
@DGalt The Exploring Data section is extremely interesting.

Couple of questions:

1. I wonder how the results line up against https://cpdb.co/data/bP8dwb/citizens-police-data-project?
2. In the last table, what should we make of `nan`?
3. The last table seems to be complaints with the most involved officers, is that correct? Creative way to slice the data, I would never have thought of that. I'm

[2016-06-14 03:04] alexsoble commented on #22
Thank you for this @yahwes! 👍  👍

[2016-06-14 03:13] alexsoble opened #23 "Questions we could ask of the data"
Right now we're busy scraping, cleaning, appending, merging, and double-checking data. @yahwes and @DGalt and @banoonoo2 have made enormous progress on this over the past week.

Once the data is in a highly usable and double checked form, we can start asking it questions. Here are a couple that @ithinkidunno and I started brainstorming on Friday. Please add your own to this thread.

### Questions

[2016-06-14 03:16] alexsoble commented on #6
@banoonoo2 Thanks for the updated link! I dropped it into the wiki but obviously it could use more love and explanation. Do you have the ability to edit the wiki @banoonoo2? I think that could be a good place for us to put public-facing work and resources especially for folks who have a lot to contribute but would rather skip the PR workflow because.

[2016-06-14 03:19] alexsoble commented on #6
Wow, thanks @DGalt! You mention making it searchable . . . I wonder if this table is a good candidate for using CSV-to-HTML Table? http://derekeder.github.io/csv-to-html-table/

[2016-06-14 03:19] alexsoble opened #24 "Add all of Anna's work to the repo"

[2016-06-14 03:22] alexsoble opened #25 "Add link in README pointing to Wiki"

[2016-06-14 03:29] alexsoble commented on #23
Oh and depending on what we find, the answers to these questions could be visual as well as text.

[2016-06-14 06:12] banoonoo2 commented on #23
I'd like to explore the social networks and command hierarchy that correlate with more complaints. Are there people who are frequently on-scene or behind-the-scenes on interactions that result in complaints? Do they also get complaints against them? Or does their involvement go unnoticed?

We could ask the current data:
- What are the units with the most complaints?
- What are the beats with the m

[2016-06-14 07:15] banoonoo2 commented on #6
@alexsoble I edited the wiki page to add some detail about the archive links.

[2016-06-14 14:02] DGalt commented on #4
you're right, I load @ithinkidunno's shootings-append but don't use it again. This is a cleaned up version of an earlier notebook where I was comparing the two, but I didn't include the comparison here. One major difference is @ithinkidunno's file only includes a subset of the data available from the April data set that corresponds to shootings and tasing (these are the events where the incident c

[2016-06-14 14:05] DGalt commented on #6
@alexsoble that's what I was thinking. I was going to take a crack at it this week, although javascript is definitely not one of my strengths ;)

[2016-06-14 18:50] alexsoble commented on #23
These are fantastic questions and ideas @banoonoo2!

[2016-06-14 18:51] alexsoble commented on #6
Thanks @banoonoo2! Excellent documentation! And apologies if I was a bit confusing with the Slack vs. PR vs. Wiki stuff . . . we're figuring it out! 👍

[2016-06-14 18:54] alexsoble commented on #6
@DGalt OK cool. I'll break it out into a separate issue. And no worries! I don't have much background in Python or R but I've built a few projects with Javascript, so maybe we can learn from each other. 😊

[2016-06-14 18:59] alexsoble commented on #8
Re-opening!

Instead of a searchable table for all of `shootings-append.csv`, we can do a table for https://github.com/DGalt/shootings-data/blob/dev/summary_ipra.csv (only the June Dump).

This is much smaller and more manageable and would be useful. This would be a mirror of the IPRA portal's table, but with many more columns created by linking with the May + April data. Which I believe is what @

[2016-06-14 18:59] alexsoble commented on #8
^^ @DGalt

[2016-06-14 19:15] #25 closed

[2016-06-14 19:36] DGalt commented on #8
@alexsoble will likely start working on this at hacknight tonight. Just a heads up, though, there's probably still a little cleaning that needs to go on with that csv. I have not looked at the cleaned February data yet, so I don't know what, if anything, should be pulled out of that and added to this.

[2016-06-14 19:37] alexsoble commented on #8
Sounds good!
On Tue, Jun 14, 2016 at 2:36 PM DGalt <notifications@github.com> wrote:

[2016-06-14 20:11] alexsoble commented on #8
@DGalt I plugged your work-in-progress CSV into the template: https://github.com/invinst/ipra-table. It works fine. Takes a couple of seconds to load, and there's a lot of [nan] data, but it's a very serviceable first draft. Made it clear in the commit + repo that this a work in progress and not a final product. There's no public internet URL yet. We can look at this together at HackNight tonight

[2016-06-14 23:26] #24 closed

[2016-06-15 01:14] herdingbats commented on #23
Correlations and risk factors for police complaints that we can compare/look at (based on time and place):
* weather
* crime (do police incidents rise in response to increases in crime?) Obviously reporting is confounded.
* density of patrol? if a neighborhood is saturated, do officers feel less vulnerable?
* are there any directives coming out to precincts? ("We want to focus on enforcing ___")
*

[2016-06-15 05:59] banoonoo2 commented on #18
@rajivsinclair Could you get me the info for the remaining 25 records **with the complaint number for each**? If the complaints were included in the June 3 cache, I can comb through the PDFs and hopefully fill in any missing or mistyped information.

I searched the media-files index and DocumentCloud for each of the names and found a few clues.

I think some names are for civilian Detention Aides

[2016-06-15 14:44] DGalt commented on #8
After our discussion last night I think we need to decide whether we want to continue merging the april and may dumps, or whether we want to keep them separate. Looking at the list of 102 CRIDs in the June ipra dataset, 39 of them do not exist in the May data set, 8 of them do not exist in the April data set, and 4 of them do not exist in the data set composed of the combination of May and April.

[2016-06-15 20:51] alexsoble commented on #8
Thanks @dgalt!

[2016-06-15 21:06] alexsoble commented on #8
@dgalt A bunch of the rows have `nan` in ways I wouldn't necessarily expect, for example `[nan 'RONALD']` in row 101 accused_officer_fname. Would you mind bringing me up to date when you have  a minute on the best way to interpret these kinds of values? Is this a Python byproduct?

[2016-06-15 21:23] DGalt commented on #8
Right, so, in the full data set there are likely several rows for any one CRID. The way I've organized this is that each CRID has a row, and each column contains a list of the unique values that were in all of the rows for that CRID (so basically the multiple rows are collapsed into a list for any one column). So in the example you give, that row corresponds to `complaint_number 1080018.0`. You're

[2016-06-15 23:43] alexsoble commented on #8
OK great, thanks for the explanation @DGalt!

[2016-06-16 00:47] DGalt opened #28 "How to relate Feb, April, and May data sets?"
A question that I keep coming up against is what is the most appropriate way, if at all, to combine and/or relate the different data sets that we have available to us. Just to briefly summarize what we have (this is in the wiki as well):
- February data set: from CPD, composed of firearm discharge data
- April data set: from IPRA, composed of police misconduct data
- May data set: from IPRA, compo

[2016-06-16 07:56] hieueastagile commented on #18
Hi guys,

We are working on importing these stuff into current CPDB database. Recently, we improved our importer for the `sworn-officer` dataset and get  more accurate result for the matching officer to the shootings-data. And here are the updates:

- We resolved ['ESCOBEDO', 'CONNORS', 'EDWARDS', 'FORGUE'] with our new database.
- We have about 55 rows here. In this 55 rows:
  - One row (the last

[2016-06-16 14:35] alexsoble commented on #8
Still WIP, working on a trimmed slice of the data with 5 columns, 28 rows (rows where we have accused officer names):

https://github.com/invinst/ipra-table/commit/892cdc99fc74b078eab8eaf07b60519146de8813

[2016-06-16 14:53] DGalt commented on #8
how many columns can reasonably be presented before it becomes illegible?

[2016-06-16 14:54] alexsoble commented on #8
Great question, not sure. More columns, more work for reader.

[2016-06-16 15:36] banoonoo2 commented on #18
@hieueastagile That's awesome! I tried opening the linked csv file. I see lots of files of code, but no data. Am I doing it wrong?

[2016-06-16 15:44] hieueastagile commented on #18
@banoonoo2 So sorry, we didn't expect that saving the file with Excel will change its data structure inside. If you can, please try to open it with Excel, we will try to upload the pure csv tomorrow then.

[2016-06-16 18:10] DGalt commented on #18
Alright, here's the result of some more cleaning - basically I've removed any `nan` values, and anything that doesn't need to be in a list is no longer in a list. I'll submit a PR for this, although I'm not sure where to put it.

https://github.com/DGalt/shootings-data/blob/dev/summary_ipra.csv

[2016-06-16 19:24] banoonoo2 commented on #18
@hieueastagile When I unzip it, I just see this directory of styling code files. My computer wants to open 'em in Corel Painter (!), but I opened 'em in TextEdit. I didn't see anything resembling a csv, Excel, or other database file. I'll have to wait for the pure csv tomorrow.
![failed_with_crid](https://cloud.githubusercontent.com/assets/19756631/16130148/728213fa-33cd-11e6-8492-f3ea0cc1b296.png

[2016-06-16 20:14] alexsoble commented on #28
Great point @DGalt. It seems to me there are about 3 basic ways to extract value from these:

+ __Analyze each data set separately:__ Take each data set as an isolated slice and see what we can learn from each one.

+ __Analyze overlap & conflicts between data sets:__ If the data sets contradict each other, that could be interesting to dig into.

+ __Import all of them into the Chicago Police Data

[2016-06-16 21:19] rajivsinclair commented on #18
@banoonoo2 I’ve downloaded the file that @hieueastagile uploaded and opened in Excel and exported it again as CSV and now it seems perfectly fine (even GitHub.com can preview) [here](https://github.com/invinst/shootings-data/blob/merge/Sandbox/failed_with_crid.csv).
<img width="779" alt="screenshot 2016-06-16 23 12 33" src="https://cloud.githubusercontent.com/assets/4379424/16133380/d9bc6526-3417-

[2016-06-17 00:17] banoonoo2 commented on #18
@rajivsinclair @hieueastagile Thanks for bearing with my technical difficulties! I'll get started on them later this evening.

[2016-06-17 00:30] hieueastagile commented on #18
@banoonoo2 If you can't open it, let us know, we will send you a copy of pure csv.

[2016-06-17 22:03] banoonoo2 commented on #18
I searched the IPRA portal for each CRID to see if it was included there. Most were not. 1077477 was, but only a video was provided, no documents.

I searched DocumentCloud by last name, by CRID, and by appointment date (using the dd-mmm-yyyy format used in the TRRs and OCRs). I was able to fill in a couple more Detention Aides this way.

I double-checked the CPD Employees csv, but only confirmed

[2016-06-22 01:30] alexsoble opened #32 "Compare officer statements in the IPRA dump against each other?"
See if there are patterns?

[2016-06-22 01:33] alexsoble opened #33 "Add FOIA for May"
So that we can understand where the May data set came from.

[2016-06-22 01:35] alexsoble opened #34 "Document problems with the data"
Could be useful for advocating for better data systems in the future. via Chaclyn.

[2016-06-24 00:11] DGalt opened #35 "Assign all POs in all_sworn a unique ID?"
I'm currently working on putting together data sets for the individuals in the May and April dumps that I can confidently ID as either police officers or not police officers, and I'm finding that there currently is no good way to uniquely ID a particular officer. Their name alone isn't enough, so I end up having to use a combination of different data sources to ID them.

This is fine, except when

[2016-06-24 16:12] yahwes commented on #35
Not sure if this helps, in the Feb data, it looks like the officers have a unique PERS_STAR_NO code.

[2016-06-24 16:20] DGalt commented on #35
This is equivalent to Star1, Star2, etc. in all_sworn I'm assuming? The problem with the star numbers is that they can potentially change over time / be reused - right @rajivsinclair?

[2016-06-24 19:23] banoonoo2 commented on #35
Yeah, their star numbers change when they get promoted (or demoted) and get a new badge. This blog explains the star number ranges for different ranks: http://chgopdfan.tripod.com/id12.html (There are some star number changes that don't seem to be explained by promotion/demotion, too.) The May data csv has fields for up to 10 star numbers per individual. An individual's star number can change over

[2016-06-24 21:30] chaclyn commented on #35
hi all, I'm going to ask @rajivsinclair to chime in later, with a more comprehensive answer, but for now:

- yes! star numbers are recycled (this is actually ahold over from the days when manufacturing badges was expensive!)
- date of appointment is not always consistent (re-entering sometimes)

the unique identifier we've been assigning follows this format:

first name - last name - middle initia

[2016-06-26 01:52] hieueastagile commented on #35
@chaclyn @DGalt @banoonoo2 @rajivsinclair I think we can use the unique ids that CPDB database are using. CPDB database is usually updated with all the data, so, we think that most of the data in sworn officer are already there. What do you guys think about it?

[2016-06-26 16:27] DGalt commented on #35
If there is already a system in place within the CPDB database then yeah I'd think it'd be best to just use that. Is this what you're referring to above @chaclyn?

[2016-06-29 05:32] jayqi opened #37 "Proposal: Clarify purpose of repo and steps to organize"
## Main idea

Go back to the roots of this repo. From the README:

This means separating out:
- The data (this repo)
- Usage of the data (keep elsewhere)
### Define a clear purpose of this repo
- A copy of the data for anybody (not just InvInst and ChiHackNight people) who wants to use it for something. This is both cleaned data and raw data, as well as supporting primary documents like FOIA reque

[2016-06-30 01:48] evanwsun commented on #37
One of the ways that I've structured other repo issues to make it more suitable for projects is using the milestones feature of github. Each project got its own milestone and that made it much easier to compartmentalize the projects. I also think that waffle.io could be useful for something like. Waffle.io is basically a front end for your issues. You can see an example board here https://waffle.i

[2016-06-30 18:58] alexsoble commented on #37
@jayqi I think this is a fantastic plan for the repo. I like the repo-as-data-source concept, with issues linking out to projects that use the data.

Does this sound like a good plan going forward @rajivsinclair?

Beyond being a good idea in and of itself, I think this is a good example of what a self-organizing / thoughtful / forward-looking group of volunteers this is. 😊

[2016-06-30 21:37] rajivsinclair commented on #37
Thank you for writing this up so clearly! As @alexsoble has said, this is a great example of how thoughtful and forward-looking this community is. We [**Invisible Institute**] are happiest in this role as a hub/home for all the community/groups that care about making these datasets useful.

I agree with the “clear purpose of this repo” identified here. I think it’s a good plan for us to tidy thing

[2016-06-30 21:50] evanwsun commented on #37
@rajivsinclair You can add multiple repos to a waffle board

[2016-06-30 21:51] alexsoble commented on #37
@rajivsinclair ❤️ ❤️ ❤️

[2016-07-05 17:14] achtor opened #39 "Arrests data numbers"
There are way, way more inmates listed in the Cook County table of the same name than in the arrests table for the CPD. The timespan for the former is around 3.5 times longer, but the number of rows is nearly 10x as much; this seems strange since I would expect most Cook County cases to be CPD ones. What's going on here?

Also, the overwhelming majority of Cook County inmates seem to have no charg

[2016-07-05 18:17] #39 closed

[2016-07-06 00:10] jayqi commented on #6
Just to make sure this thread is up-to-date, I've whipped up a script to scrape the information and links. Still need to make this more robust and add functionality to track changes over time.

https://github.com/jayqi/ipra-portal-scraper

[2016-07-06 00:16] jayqi commented on #4
Merging in another [related issue](https://github.com/invinst/shootings-data/issues/5):

[2016-07-06 00:16] jayqi commented on #5
Merging into related #4

[2016-07-06 00:16] #5 closed

[2016-07-06 00:46] akashpi opened #40 "[Help Wanted] Make a FOIA label"
Use to prioritize FOIA requests

[2016-07-06 00:51] akashpi opened #41 "[Help Wanted] Please make us contributors"
The following people want to label issues and do other neat things but can't because we're not contributors

bencooper222@gmail.com
evansun1999@gmail.com
akashpal99@gmail.com
yugansakthi@gmail.com

@jayqi @rajivsinclair

[2016-07-06 01:05] #41 closed

[2016-07-06 01:06] #40 closed

[2016-07-06 01:07] akashpi opened #42 "What does "inmate" mean?"

[2016-07-06 02:55] evanwsun opened #43 "Basic projects/work that newcomers can tackle?"
Today we had a lot of new people come in, and while I was able to get them somewhat up to date on all of the data, I wasn't sure what work they should tackle next. What are some basic projects that these people could work on to get a feel for the data as well as contribute?

[2016-07-06 10:40] banoonoo2 commented on #42
Which file are you looking at? In the clean May data, "inmate" is used in the "Invovled_Party_Type" field to indicate a PO directly involved in a firearms discharge (i.e., a PO who shot someone or was present when someone was shot). For example, Jason Van Dyke is listed as "inmate" on CRID 1072125 (Laquan McDonald).

[2016-07-06 13:28] evanwsun commented on #42
What's the difference between inmate and witness when there's more than one inmate, but police officers are listed as both inmates and witnesses?

[2016-07-06 19:22] evanwsun commented on #23
Some of the stuff we brainstormed from last night:
Gender roles, mob mentality (correlation between shootings and groups of officers?) and possibly looking to see if there's any trend over the months

[2016-07-06 19:39] evanwsun opened #44 "Condense the May data further"
I haven't looked at April and February as much, but the May data can be condensed to roughly 10% of its current volume by simply eliminating the duplicate rows created by each IPRA officer on an investigation. An idea of how I formatted my condensed May data can be found [here](https://docs.google.com/spreadsheets/d/18pXWpjT3YaTJqQqqh3-_h4Fjsn73bY9p6rth1YqEpOE/edit#gid=1460772671) under the Conden

[2016-07-06 19:42] DGalt commented on #44
Is the data just duplicated for the same CRID but different investigators or are there cases where there are different entries for different investigators within a single case?

[2016-07-06 19:58] evanwsun commented on #44
From briefly scanning through the data, I only saw cases where the data was duplicated for the same CRID but different investigators. I'm not sure what would be the best way to go about performing a more thorough search.

[2016-07-06 20:17] DGalt commented on #44
I can go ahead and do that, just wasn't sure if you had. Shouldn't be too much work to write a little script to break the dataset down by CRIDs and check if values in each column are all the same

[2016-07-06 20:23] jayqi commented on #15
Reviving this old issue since it's important and never got addressed. I propose something like

* "Chicago Police Misconduct Data" <-> chi-police-data

[2016-07-06 20:23] evanwsun commented on #44
I have a copy of the concise data made using google apps script, but I haven't proofed it for accuracy. From what I can tell, it looks accurate, but it's easy to miss something with such a large data set.

[2016-07-06 22:29] alexsoble commented on #15
@jayqi Yes I think that's a wonderful suggestion. I think the idea of one repo with all the flat files of the police data (i.e. "one repo to rule them all") is a gorgeous long-term vision and chi-police-data captures that well.

[2016-07-06 23:08] jayqi commented on #15
Something that came to mind for the expanded title is that we might want something more neutral. While we do have a set of definitely misconduct data (the complaints from CPDB), the incidents in the use-of-force datasets from the FOIAs are not necessarily all cases of misconduct. Something like

* Chicago Police Incidents Data

or

* Chicago Police Incidents and Complaints Data

would be a more ob

[2016-07-06 23:56] jayqi commented on #43
I think the two main categories of things to do are:

* Contribute to repo reorganization project. I'm trying to open up tickets for these tasks to make sure that this is all clear. Includes:
    * Reorganizing the files
    * Writing up documentation
    * Writing up the newcomer guide

* Work on independent projects.
    * Any of the yellow "independent project" tags are questions about the data

[2016-07-08 09:27] banoonoo2 commented on #42
Just realized I didn't reply yet! Generally speaking, the "inmate" POs allegedly did something wrong, while the "witness" POs just saw what happened, either as it happened or the aftermath. For example:

1079080 PO who fired gun and his partner are "inmates." Other POs who arrived on the scene and arrested a second, on-DoA person are "witnesses."

1079661 2 POs who fired guns are "inmates." Of 2 P

[2016-07-08 09:46] banoonoo2 commented on #23
Answering another data question, I came across 2 cases where CPD fatally shot someone. One was a home invasion. The other was a stop-and-frisk.

I'd like to know:

- How many incidents (and as a subset, shootings) arise from CPD being called?
- How many incidents (and as a subset, shootings) are initiated by CPD (stop-and-frisk, traffic stop)?
- What is the frequency of various crimes the subjects

[2016-07-09 00:01] jayqi opened #46 "Dataset naming"
We can probably all agree that our current month designations for the datasets are not the most illuminative.

I propose a new scheme of: `topic-source-monthyearofrelease`

So for example:
* May -> `shootings-ipra-may16`

I think datasets that correspond to the same FOIA request content should have the same topic name.

[2016-07-09 00:16] evanwsun opened #47 "Decimal ages in June data"
@DGalt How were the decimal ages determined? Was it taking into account month and day as well as year?

[2016-07-09 00:41] evanwsun opened #48 "Change the name of June Dump Materials?"
Now that we have actual June raw data, it may be beneficial to differentiate between that and the IPRA dump in the github. A newcomer may easily get confused by the difference between "June dump materials" and "raw dump June2016."

[2016-07-09 02:46] DGalt commented on #47
So, this is something odd. If you look at the raw excel files, there are no decimals. But if you look at the actual fields (open the file in excel, click on a cell, and look at the value in the entry box) there is a decimal value. E.g. the female victim for CRID 1039179 has what looks like an age of 26 if you just look at the file, but the cell has an actual value of 25.832877 - which is what is i

[2016-07-09 02:59] DGalt commented on #46
I agree, I think your solution is a good one.

[2016-07-09 02:59] DGalt commented on #48
@jayqi brings this up in #46

[2016-07-09 03:14] #48 closed

[2016-07-09 04:19] jayqi opened #50 "Migrate shootings-append files and related to somewhere else"
Since the effort to merge these datasets (issue #4) is not trivial and involves some significant interpretation on top of what is in the raw data files, I am suggesting that we consider it to be an independent project for now. In that case, we would want to migrate all files associated with `shootings-append` and `shootings-merge` to somewhere else.

[2016-07-09 04:20] jayqi opened #51 "Repo directory structure"
As part of cleaning up the repository, we should determine a directory structure.

I personally would like something a little flatter than what we already have, so that people can see all of the datasets at a glance.

So in the root we have:
* `README.md` -- basic info about repo, issue tracker, tell people to look at wiki for more info
* `[datasetname]/` -- directories that contain the relevant f

[2016-07-13 00:54] evanwsun opened #52 "Where to upload the 80 gigs of IPRA Vimeo data"
@rajivsinclair Is there an account I should upload the Vimeo data under at archive.org?

[2016-07-13 00:56] bencooper222 opened #53 "Onboarding document"
It's been started [here](https://docs.google.com/document/d/1ULmaceIT-1KIm8RBlpxaGP7ou2YoVEvX8CRurQ2bixo/edit). Please feel free to add on _accurate_ and _*helpful*_ information.

[2016-07-13 03:36] evanwsun commented on #51
That sounds fine to me, at least for the moment. Where do we plan to put the other data for now?

[2016-07-15 05:05] jayqi commented on #51
Working on this here.

https://github.com/jayqi/shootings-data/tree/reorganization

For now, I'm planning on just removing `shootings-append.csv` and the individual CRID files. Those will still be available by going back to an earlier commit.

[2016-07-15 20:38] rajivsinclair commented on #52
There isn't. I have a personal account. You can also create your own personal account. Not sure what the best option is.

[2016-07-18 19:39] rajivsinclair commented on #50
Where is the new home for `shootings-append`? Will it only exist in the historic commits?

[2016-07-18 20:12] jayqi commented on #50
I think you and @ithinkidunno have been the primary people working on that, so it's up to you where you want to put it. For now, I just removed them since they are still in the historic commits and can't be lost.

[2016-07-18 22:31] rajivsinclair commented on #50
Got it.

[2016-07-19 14:31] evanwsun commented on #52
Should we create a shared Invisible Institute one?

[2016-07-19 14:32] #44 closed

[2016-07-19 18:30] jayqi commented on #50
Going to close this since I've removed the files in the master branch with pull #54

If anyone needs to get to them, this is the most recent commit that still has them:
https://github.com/invinst/shootings-data/tree/97f2ec7fb52e6e167952fa2d25df2fdb8c1e426a

[2016-07-19 18:30] #50 closed

[2016-07-19 18:31] jayqi commented on #46
Working names implemented with pull #54

[2016-07-19 18:31] #46 closed

[2016-07-19 18:33] jayqi commented on #51
Working implementation with pull #54

[2016-07-19 18:33] #51 closed

[2016-07-19 19:48] achtor opened #55 "May FOIA response"
Is there a copy of the May dump FOIA response letter available?

[2016-07-19 21:01] chaclyn commented on #55
https://www.documentcloud.org/documents/2995577-217-Response-2.html

On Tue, Jul 19, 2016 at 2:48 PM, Peter Xu <notifications@github.com> wrote:

--
Chaclyn Hunt
720 326 9728
the.invisible.institute

[2016-07-19 21:05] chaclyn commented on #55
Our letter, filed 04/07/16:

I would like to request all machine readable data (meaning any information that is able to be exported into spreadsheets) that exists for officer involved shootings.

Please include all information for any shootings, including but not limited to alleged shootings, shootings that were not investigated, and nonfatal shootings. Please include the following data for each s

[2016-07-19 21:14] #55 closed

[2016-07-20 00:52] jayqi commented on #15
After discussion at ChiHackNight on July 19, we renamed the repo name to `chicago-police-data`.

Right now the working prose title (i.e. what goes at the top of the README) is "Chicago Police Incidents Data". Going to keep this thread open for a few days in case anyone wants to discuss changing that still.

[2016-07-20 00:59] jayqi opened #56 "Missing FOIA documents"
What we're missing:
- `shootings-ipra-may2016` - FOIA request and/or response
- `complaints-ipra-apr2016` - FOIA request (we have responses but they don't quote the requests in detail)
- `cpdb_complaints-cpd` - FOIA requests and/or responses for `august 2015`, `march 2015`, and `september 2015`

[2016-07-20 01:00] jayqi commented on #33
Merging this issue into issue #56

[2016-07-20 01:00] #33 closed

[2016-07-20 01:52] evanwsun opened #57 "Upload current onboarding document to the Wiki?"
I think we're at a point where the Onboarding document has enough basic material to be uploaded to the Wiki. There's still more to add, but we can continue to update it as we go. Thoughts?

[2016-07-20 12:40] chaclyn commented on #56
- shootings-cpd-february2016
request: https://www.documentcloud.org/documents/2995716-FOIAU-FileCPD.html
response: (will collect from Jamie Kalven, who is the filer & receiver on the request.)

- shootings-ipra-may2016
request: https://www.documentcloud.org/documents/2995650-FOIAU-FileIRPA04072016.html
response: https://www.documentcloud.org/documents/2995713-IPRA-U-Files-Response-Letter.html
(inc

[2016-07-20 12:49] DGalt commented on #15
I'd argue that `chicago-police-data` is a bit vague / broad. I think `cpd-incidents-data` or `cpd-accountability-data` is a bit more descriptive. Unless the goal is to bring in data sets that are generally about cpd, and not specifically about use-of-force events / complaints

[2016-07-20 15:13] jayqi commented on #15
This was something that was brought up and discussed. One point is that we don't want the shorthand repo name to be too long, and the other is that we do actually have other datasets like list of CPD employees.

I don't like `cpd` as much as `chicago-police` because it's a lot easier for people to look at the latter at a glance and know what it's about.

[2016-07-20 21:07] jayqi commented on #56
Questions:

* `shootings-cpd-feb2016`
    * You provided a request letter 10/30/2015. We already had a final response letter dated 1/29/2016. However, the contents of that letter reference a 11/17/2015 response letter from CPD to Jamie Kalven, and then a new request letter with narrowed constraints from Jamie Kalven to CPD of unknown date but labeled "FOIA FILE NO. 15-7058". Can we get those two m

[2016-07-22 15:47] DGalt opened #58 "Comparing Complaints data sets"
We have 3 data sets that are marked as containing complaints data:

- CPDB complaints data
- April data dump (IPRA)
- June data dump (CPD)

Some questions posed by @rajivsinclair for us to look at:
- evaluate completeness of the new dataset (e.g.,  what percent of CRIDs include some valid value for each data field)
- the consistency of the overlap with our data about existing known complaints (e.g

[2016-07-22 19:23] DGalt commented on #58
Total number of unique CRIDS:

- CPDB: 37188
- April: 7175
- June: 16531

Number of CRIDs that do not overlap:
- CPDB:
  - April: 33362 (~90%)
  - June: 23445 (~63%)
- April:
  - CPDB: 3349 (~47%)
  - June; 2950 (~41%)
- June:
  - CPDB: 2788 (~16%)
  - Apri: 12306 (74%)

For the June - CPDB comparison, of the **2788** non-overlapping CRIDs, **2170** of them can be accounted for by non-overlapping

[2016-07-27 01:22] DGalt opened #61 "Fix date formatting in ipra-may2016"
The `Accused_Appointment_Date` is not formatted correctly (there is simply an integer value that, if opened with Excel and changed to being formatted as a Date then correctly shows the date). This has been fixed for the `dat_may2016.csv` file, but not for the other file formats in that folder, or for the concise files.

The other columns with date values should also be checked to make sure this is

[2016-07-27 19:36] achtor commented on #61
I submitted a pull request fixing concise [here](https://github.com/invinst/chicago-police-data/pull/62). The code is really simple, but I'll put it here just for documentation purposes:
[code]

Here `import_csv` is a function I wrote that just stuffs a csv into a dataframe; it's like four lines.

I also looked at the other date columns, and they're all already in standard format. I didn't change

[2016-07-27 19:37] achtor commented on #52
@evanwsun Did you ever upload these files?

[2016-07-28 04:18] jayqi commented on #57
Merging into #53

[2016-07-28 04:18] #57 closed

[2016-07-28 04:18] jayqi commented on #53
evanwsun:

[2016-07-28 04:18] jayqi commented on #53
I've started pasting stuff in the wiki. Will try to finish up this week.

[2016-08-02 17:35] rajivsinclair commented on #34
http://chicagoinspectorgeneral.org/publications-and-press/oig-advisory-regarding-use-of-force-reporting/

[2016-08-03 01:27] jayqi commented on #61
Relevant PRs: #60, #62

[2016-08-03 01:47] jayqi commented on #61
If someone who knows more about this issue than me thinks that this has been resolved, please close the issue or say something here so I can close the issue.

One outstanding thing is that we still need to regenerate the Excel and feather files so they parallel the updated .csv. Alternatively, I'm thinking that csvs are universal enough that we don't really need the Excel and and feather copies an

[2016-08-03 01:49] #15 closed

[2016-08-03 01:51] DGalt commented on #61
I think the excel files might be useful - I don't think the feather file is necessary though. I will take care of this and close it when I'm done.

[2016-08-03 01:54] jayqi commented on #53
Update: This stuff is pretty much all integrated. Edited some stuff so it makes more sense the way I organized the sections in the wiki. I wasn't exactly sure what to do with the stuff on [this page](https://github.com/invinst/chicago-police-data/wiki/Data-Sources) and I'm going to look more at it later.

[2016-09-06 23:12] #61 closed

[2016-09-07 04:46] jayqi commented on #58
Notebook from mob programming at CHN on Sept 6. We looked at June-CPDB overlapping CRIDs and how category codes changed.

https://github.com/jayqi/mob_programming_2016-09-06/blob/master/Mob%20Programming%20-%20Sept%206%2C%202016.ipynb

[2016-09-24 18:41] k-lev opened #70 "Understanding Number of Complaints- June vs all before 2016"

[2016-09-24 19:37] #70 closed

[2016-10-04 15:11] clarkpolner commented on #52
Were these ever made available?

[2016-11-18 03:27] pjsier opened #72 "Processing on October 2016 FOIA"
I didn't see any details under the `complaints-cpd-2016-october`, on cleanup, but if it's still something you're looking for I've taken a stab at it here [chicago-police-data-cleanup](https://github.com/pjsier/chicago-police-data-cleanup). The overall totals I'm getting roughly match up with the [Tribune's counts](http://www.chicagotribune.com/news/watchdog/ct-chicago-police-complaints-met-2016101

[2016-11-18 08:27] rajivsinclair commented on #72
thanks! @pjsier
the last time we cleaned up a similarly structured dataset (cpd-complaints-june-2016) we used this method: https://gist.github.com/DGalt/6b419549086d3aadff8b7cc072fc60b3

[2018-03-14 21:13] #4 closed

[2018-03-14 21:13] #8 closed

[2018-03-14 21:13] #11 closed

[2018-03-14 21:13] #18 closed

[2018-03-14 21:13] #19 closed

[2018-03-14 21:13] #22 closed

[2018-03-14 21:13] #28 closed

[2018-03-14 21:13] #32 closed

[2018-03-14 21:13] #34 closed

[2018-03-14 21:13] #35 closed

[2018-03-14 21:13] #37 closed

[2018-03-14 21:13] #42 closed

[2018-03-14 21:13] #43 closed

[2018-03-14 21:13] #47 closed

[2018-03-14 21:13] #56 closed

[2018-03-14 21:13] #72 closed

[2018-08-16 14:13] dannguyen opened #77 "License?"
First of all, congratulations on this relaunch. I thought what you managed to collect before was impressive enough, today's investigative project and [relaunch of the data is incredible](https://theintercept.com/2018/08/16/invisible-institute-chicago-police-data/).

I had planned to use what you previously had up as a usecase/scenario for a SQL book I'm writing, but am happy to use what you've now

[2019-02-22 19:41] wilson2625 opened #78 "Request for information"
Dear Sir, or Madam,

My name is Christopher Wilson and I am a Walden University student studying Criminal Justice. I am writing to you because I am requesting information about the use of excessive force for my dissertation study. The purpose of this quantitative study is to investigate the use of excessive force by law enforcement officers in Chicago,  I am not asking for names, addresses, phone

[2019-03-10 20:01] cschwab1 opened #79 "Is there location data for each complaint?"
I am working on a geography project around urban renewal and campaign finance, and wanted to take a look at some of the location data around complaints, but can't find location information on any of the spreadsheets (which seems strange, given that it is visualized in the website). Does this exist? Thanks!

[2019-05-27 19:37] sashermn commented on #79
I have the same question. I notice that the addresses in the complaint data are frequently outside of Chicago (or, sometimes, the state of Illinois).  Is this the complainant's home address?  See e.g., complaints-complaints_2000-2018_2018-03 or complaints-complaints.csv

[2019-10-24 21:26] themadcap opened #84 "Where can I find data to run the individual task roster_1936-2017_2017-04_p058155?"
After going through the workflow, I see the input/ folders missing for the roster_1936-2017_2017-04_p058155/ task in individual/ ? Is the raw data required to run the scripts for this task available somewhere else?

[2020-06-30 19:17] LowlyDBA commented on #77
I'd also like to leverage this data set for examples / documentation /testing in SQL projects, in an effort to use sample data as a vehicle for change.

Please add a license otherwise you are severely limiting people's usage of the data: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository#choosing-the-right-license

[2020-11-28 00:24] jrisi256 opened #85 "Documentation for working with data?"
Hi,

Great work y'all have done. Truly appreciate it. It's a force for the greater good. I looked at the wiki, the documentation on the workflow, and the data dictionary, but I'm wondering if you have any other resources for looking at the data and getting a handle on it? It's a bit unwieldy and hard to know where to start. I'm playing around some with the data now as well, and I'm not sure if wha

[2021-05-10 19:18] josh-chamberlain opened #86 "Data access license?"
I work with [pdap.io](http://pdap.io/). We're looking to pull this dataset into ours; however, I don't see an open source license.

This repo would be one of our third-party [datasets](https://www.dolthub.com/repositories/pdap/datasets), and the data would be associated with it that way. Is that all right?